#about {
  min-height: 100vh;
}
#aboutme-blurb {
  padding: 60px 0px 60px 0px;
}

#images {
  text-align: center;
}

@media (prefers-color-scheme: dark) {
  #about {
    background-color: rgb(44, 44, 44);
    color: rgb(164, 164, 175);
  }
}
