.navbar-fixed-top.scrolled {
  background-color: #fff !important;
  transition: background-color 200ms linear;

  .nav-link {
    color: #555;
  }
}

#navbar-toggle {
  background-color: rgba(177, 177, 177, 0.116);
  border: none;
}

#navbrand {
  position: relative;
}

#my-navbar {
  backdrop-filter: blur(60px);
}

.navbar-nav {
  text-align: right;
}
