
h1 {
    text-align: center;
}

.project-card {
    width: '18rem';
    text-align: 'center';
    border-radius: '1.5rem';
    padding: 32px;
}

.centered {
    text-align: center;
}

.buttons {
    border-radius: 30px;
} 
.vertical-center {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    background:  #f2f2f2;
    padding: 14px 0;
    text-align: center;
    font-size: 18px;
    z-index: 1000;
}

.badge {
    margin-left: 3px;
}

@media (prefers-color-scheme: dark) {
    body {
      background-color: black;
      color: #ccc;
    }
    .vertical-center {
        position: -webkit-sticky; /* Safari */
        position: sticky;
        top: 0;
        background:  #383d41;
        padding: 14px 0;
        text-align: center;
        font-size: 18px;
        z-index: 1000;
    }
    .card{
        background: #212529;
    }
    .badge-secondary {
        background-color: #343a40;
    }
  }